<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Free Subzi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline my-2 my-lg-0 ml-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link a" href="/shopping-cart/">
                    <i class="fab fa-opencart"></i> &nbsp;Bucket
                    <span class="badge">{{session.cart.totalQty}}</span>
                </a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle"></i> User Action
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{#if login }}

                        <a class="dropdown-item" href="/user/profile">Profile</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user/logout">Logout</a>
                    {{ else }}
                        <a class="dropdown-item" href="/user/signup">Sign up</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user/signin">Sign in</a>
                    {{/if}}

                </div>
            </li>

        </ul>
    </div>
</nav>